{% extends 'gestion/base_admin.html' %}

{% block title %}Editar Fecha{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Editar Fecha</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.fecha.label_tag }}
            {{ form.fecha }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'gestionar_fechas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}